<a href="https://colab.research.google.com/github/gabriel180501/inteligencia-artificial/blob/main/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [2]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5976 sha256=c599b2358e19fee912bf6fe1d8baf4638b8933bc98629443a5a5514439a2d9f3
  Stored in directory: /root/.cache/pip/wheels/32/2a/54/10c595515f385f3726642b10c60bf788029e8f3a1323e3913a
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
import pandas as pd
from apyori import apriori

In [4]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM.csv', ';', encoding='cp1252', header=None)
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM e NÃO.csv', ';', encoding='cp1252')
base= pd.read_csv('/content/sample_data/MercadoSim.csv', ';', encoding='cp1252',header=None)
base

<ipython-input-4-3eeea7974021>:4: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  base= pd.read_csv('/content/sample_data/MercadoSim.csv', ';', encoding='cp1252',header=None)

       0     1        2    3         4      5       6
0    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
1  Leite   NaN  Cerveja  Pao  Manteiga    NaN     NaN
2    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
3  Leite  Cafe      NaN  Pao  Manteiga    NaN     NaN
4    NaN   NaN  Cerveja  NaN       NaN    NaN     NaN
5    NaN   NaN      NaN  NaN  Manteiga    NaN     NaN
6    NaN   NaN      NaN  Pao       NaN    NaN     NaN
7    NaN   NaN      NaN  NaN       NaN    NaN  Feijao
8    NaN   NaN      NaN  NaN       NaN  Arroz  Feijao
9    NaN   NaN      NaN  NaN       NaN  Arroz     NaN

In [5]:
base.shape

(10, 7)

**O código a seguir altera a base de dados para colocar as ausências dos produtos**

In [6]:
#for column in base:
     #base[column]=base[column].fillna('~' + column)

In [7]:
#base

In [8]:
#base.shape

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [9]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [10]:
transacoes

[['nan', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'nan', 'Cerveja', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['nan', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'Cerveja', 'nan', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'Pao', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Feijao'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'Feijao'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'nan']]

In [24]:
type(transacoes)
print(transacoes[1])

['Leite', 'nan', 'Cerveja', 'Pao', 'Manteiga', 'nan', 'nan']

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [14]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8)
saida = list(regras) 
print(len(saida))
print(saida)

12
[RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Manteiga', 'Cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Pao', 'Cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Cafe', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Pao', 'Manteiga'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)]), RelationRecord(items=frozenset({'Manteiga', 'nan'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Pao', 'nan'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Manteiga', 'Pao', 'Cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao', 'Manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Manteiga', 'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Pao', 'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Manteiga', 'Cafe', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Manteiga', 'Cafe'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Cafe', 'nan'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Pao', 'Cafe', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Pao', 'Cafe'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Cafe', 'nan'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Pao', 'Manteiga', 'nan'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao', 'nan'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga', 'nan'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao', 'Manteiga'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Manteiga', 'nan'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao', 'nan'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)]), RelationRecord(items=frozenset({'Manteiga', 'Pao', 'Cafe', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao', 'Manteiga', 'nan'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Manteiga', 'Cafe'}), items_add=frozenset({'Pao', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Pao', 'Cafe'}), items_add=frozenset({'Manteiga', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'nan'}), items_add=frozenset({'Pao', 'Manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Manteiga', 'Pao', 'Cafe'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Manteiga', 'Cafe', 'nan'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Pao', 'Cafe', 'nan'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])]

In [22]:
itemsets = apriori(transacoes, min_support=0.1)#coloquei o suporte como 0.1, pois nao pode ser 0 

print(f"Itemsets utilizados no Apriori:")
for itemset in itemsets:
    print(f"{list(itemset.items)} - suporte: {itemset.support:.2f}")

Itemsets utilizados no Apriori:
['Arroz'] - suporte: 0.20
['Cafe'] - suporte: 0.30
['Cerveja'] - suporte: 0.20
['Feijao'] - suporte: 0.20
['Leite'] - suporte: 0.20
['Manteiga'] - suporte: 0.50
['Pao'] - suporte: 0.50
['nan'] - suporte: 1.00
['Feijao', 'Arroz'] - suporte: 0.10
['nan', 'Arroz'] - suporte: 0.20
['Leite', 'Cafe'] - suporte: 0.10
['Manteiga', 'Cafe'] - suporte: 0.30
['Pao', 'Cafe'] - suporte: 0.30
['Cafe', 'nan'] - suporte: 0.30
['Leite', 'Cerveja'] - suporte: 0.10
['Manteiga', 'Cerveja'] - suporte: 0.10
['Pao', 'Cerveja'] - suporte: 0.10
['nan', 'Cerveja'] - suporte: 0.20
['Feijao', 'nan'] - suporte: 0.20
['Leite', 'Manteiga'] - suporte: 0.20
['Pao', 'Leite'] - suporte: 0.20
['Leite', 'nan'] - suporte: 0.20
['Pao', 'Manteiga'] - suporte: 0.40
['Manteiga', 'nan'] - suporte: 0.50
['Pao', 'nan'] - suporte: 0.50
['Feijao', 'nan', 'Arroz'] - suporte: 0.10
['Manteiga', 'Leite', 'Cafe'] - suporte: 0.10
['Pao', 'Leite', 'Cafe'] - suporte: 0.10
['Leite', 'Cafe', 'nan'] - suporte: 0.10
['Manteiga', 'Pao', 'Cafe'] - suporte: 0.30
['Manteiga', 'Cafe', 'nan'] - suporte: 0.30
['Pao', 'Cafe', 'nan'] - suporte: 0.30
['Leite', 'Manteiga', 'Cerveja'] - suporte: 0.10
['Pao', 'Leite', 'Cerveja'] - suporte: 0.10
['Leite', 'nan', 'Cerveja'] - suporte: 0.10
['Pao', 'Manteiga', 'Cerveja'] - suporte: 0.10
['nan', 'Manteiga', 'Cerveja'] - suporte: 0.10
['Pao', 'nan', 'Cerveja'] - suporte: 0.10
['Pao', 'Leite', 'Manteiga'] - suporte: 0.20
['Leite', 'Manteiga', 'nan'] - suporte: 0.20
['Pao', 'Leite', 'nan'] - suporte: 0.20
['Pao', 'Manteiga', 'nan'] - suporte: 0.40
['Manteiga', 'Pao', 'Leite', 'Cafe'] - suporte: 0.10
['Manteiga', 'Leite', 'Cafe', 'nan'] - suporte: 0.10
['Pao', 'Leite', 'Cafe', 'nan'] - suporte: 0.10
['Manteiga', 'Pao', 'Cafe', 'nan'] - suporte: 0.30
['Pao', 'Leite', 'Manteiga', 'Cerveja'] - suporte: 0.10
['nan', 'Leite', 'Manteiga', 'Cerveja'] - suporte: 0.10
['Pao', 'Leite', 'nan', 'Cerveja'] - suporte: 0.10
['nan', 'Pao', 'Manteiga', 'Cerveja'] - suporte: 0.10
['Pao', 'Leite', 'Manteiga', 'nan'] - suporte: 0.20
['Leite', 'nan', 'Cafe', 'Pao', 'Manteiga'] - suporte: 0.10
['Leite', 'nan', 'Cerveja', 'Pao', 'Manteiga'] - suporte: 0.10

In [23]:
print(saida[0])

RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)])

In [16]:
print(saida[1])

RelationRecord(items=frozenset({'Manteiga', 'Cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])

In [17]:
print(saida[2])

RelationRecord(items=frozenset({'Pao', 'Cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)])

**Para facilitar a visualização, veja como transformar isso em um dataframe** 

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [19]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []

for resultado in saida:
  s = resultado[1]
  print(resultado[1])
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    if 'nan' in a or 'nan' in b: continue
    if len(a) == 0 or len(b) == 0: continue
    Antecedente.append(a)
    Consequente.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

1.0
0.3
0.3
0.3
0.4
0.5
0.5
0.3
0.3
0.3
0.4
0.3

In [20]:
RegrasFinais

        Antecedente      Consequente  suporte  confianca  lift
0            [Cafe]       [Manteiga]      0.3        1.0   2.0
1            [Cafe]            [Pao]      0.3        1.0   2.0
2        [Manteiga]            [Pao]      0.4        0.8   1.6
3             [Pao]       [Manteiga]      0.4        0.8   1.6
4            [Cafe]  [Manteiga, Pao]      0.3        1.0   2.5
5  [Manteiga, Cafe]            [Pao]      0.3        1.0   2.0
6       [Pao, Cafe]       [Manteiga]      0.3        1.0   2.0

**Podemos ordenar estas regras por uma métrica desejada**

In [21]:
RegrasFinais.sort_values(by='lift', ascending =False)

        Antecedente      Consequente  suporte  confianca  lift
4            [Cafe]  [Manteiga, Pao]      0.3        1.0   2.5
0            [Cafe]       [Manteiga]      0.3        1.0   2.0
1            [Cafe]            [Pao]      0.3        1.0   2.0
5  [Manteiga, Cafe]            [Pao]      0.3        1.0   2.0
6       [Pao, Cafe]       [Manteiga]      0.3        1.0   2.0
2        [Manteiga]            [Pao]      0.4        0.8   1.6
3             [Pao]       [Manteiga]      0.4        0.8   1.6